.button {
  margin: 0.25rem;
  padding: 0.25rem;
}

.external {
  border-radius: 50%;
  margin: 0.25rem;
  padding: 1rem;

  span {
    display: none;
  }
}

/* Large Mobile Screen Size, except tablet */
@media screen and (min-width: 400px) {
  .external {
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 20%;
  }
}

/* Rare case: Larger than Mobile Device, Smaller than Tablet */
@media screen and (min-width: 600px) {
  .external {
    padding: 1.5rem 2rem;
    border-radius: 20px;
  }
}

/* Standard Tablet Size */
@media screen and (min-width: 768px) {
  .external {
    margin: 0.25rem;
    padding: 1rem;
    border-radius: 15px;

    span {
      display: inline-block;
    }
  }
}
