.header {
  position: fixed;
  margin: 0 auto;
  background: linear-gradient(var(--header-background) 80%, transparent);
  z-index: 1;
  min-width: 100%;
  display: flex;
  height: var(--header-size);

  div {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 5em;

    > a {
      display: inline-block;
      margin: 0;
      padding: 0;
      font-size: 1rem;
      color: white;
      padding: 0;
      text-decoration: none;

      &:hover {
        color: var(--qwik-light-blue);
      }
    }
  }
}
