.about {
  margin: -4em auto -2em;
  padding: 0 1em;
}

.profile {
  > p {
    margin-top: 1em;
    max-width: 50rem;
    margin: 0.5em auto;
    text-align: center;
  }
}

.external-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  max-width: 60rem;
  margin-top: 1em;
}
