.wysiwyg .in-project {
  display: none;
}

@media screen and (min-width: 1024px) {
  .wysiwyg {
    &.in-index, /* <- For Homepage Only */
    .ouch {
      display: none;
    }

    .in-project {
      display: block;
    }
  }
}
