.card,
.card-focus img,
.card-focus span {
  min-width: 150px;
  min-height: 150px;
}

.card {
  margin: 0 0.75em;
}

.card-focus {
  color: #333;
  font-weight: bold;
  background: #fff;

  img {
    flex-shrink: 0;
    object-fit: cover;
  }

  > span {
    padding: 1rem;
    background: rgba(255, 255, 255, 0.8);

    /* If no card background img is provided */
    &:only-child {
      margin-top: 150px;
    }
  }
}

/* Large Mobile Screen Size */
@media screen and (min-width: 400px) {
  .card,
  .card-focus img,
  .card-focus span {
    width: 200px;
    height: 200px;
  }
}

/* Tablet and higher // In conjunction with parent .projects-grid for larger width sizes */
@media screen and (min-width: 768px) {
  .card {
    border: 5px solid black;
    /* border-radius: 10%; */
    box-sizing: content-box;
  }
}
